[submodule "backend"]
	path = backend
	url = https://github.com/matheusricardo1/PortifolioBackend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/matheusricardo1/PortifolioFrontend.git
